body {
  margin: 0;
  height: 100vh;
  background-color: #e6edfd;
}

#app {
  width: 100%;
  height: 100%;
  position: absolute;
}

p {
  margin: 0;
}

@font-face {
  font-family: '18vag';
  src: url(./fonts/18VAG-Rounded-M-Normal.ttf);
  font-weight: 500;
  font-style: normal;
}

.large-font {
  font-size: 25px;
  line-height: 35px;
}
